@media (min-width: 0) and (max-width: 819px) {
  .container {
    color: red;
  }
  img {
    width: 70%;
  }
}

@media (min-width: 820px) and (max-width: 1919px) {
  .container {
    color: goldenrod;
  }
}

@media (min-width: 1920px) {
  .container {
    color: blue;
  }

  img {
    width: 50%;
  }
}
